<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @house.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @house.rooms %>
</p>

<p>
  <strong>Sqmt:</strong>
  <%= @house.sqmt %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @house.floor %>
</p>

<p>
  <strong>Air cond:</strong>
  <%= @house.air_cond %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@house.image_attachment_path, :size => '250x250') %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
